# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
**/node_modules
/.pnp
.pnp.js

#contracts files
contracts/typechain
contracts/cache
contracts/artifacts
contracts/node_modules
contracts/coverage

diamond-2-hardhat
contractsDeprecated
contractsDeprecated/typechain
contractsDeprecated/cache
contractsDeprecated/artifacts
contractsDeprecated/node_modules

# dapp
dapp/.next/
dapp/out/
dapp/next-env.d.ts
dapp/build
dapp/.vercel

# server
server/artifacts
server/node_modules
server/package/lib
server/src/types/prisma.js

# local env files
**/.env
**/.env.local
**/.env.development
**/.env.development.local
**/.env.test.local
**/.env.production.local


# testing
/coverage
coverage.json

# misc
.DS_Store
*.pem

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*