@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
    @apply p-0 m-0 bg-neutral-150 text-neutral-800;
  }

  a {
    @apply text-inherit;
    text-decoration: none;
  }

  * {
    @apply box-border;
  }

  h6 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-2xl font-semibold;
  }
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .position-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}
